@model Sample_CRUD.Models.AddBookViewModel
@{
}
<h1>Add Book</h1>
<form method="post" action="Add" class="mt-5"> 
    <div class="mb-3">
        <label for="" class="form-label">Book Title</label>
        <input type="text" class="form-control" asp-for="BookTitle">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Book Author</label>
        <input type="text" class="form-control" asp-for="BookAuthor">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Book Pages</label>
        <input type="number" class="form-control" asp-for="BookPages">
    </div>
      
    <button type="submit" class="btn btn-primary">Submit</button>
</form>