@model List<Sample_CRUD.Models.BookModel>
@{
}

<h1>Books</h1>

<table class="table">
	<thead>
		<tr>
			<th>Book ID: </th>
			<th>Book Name</th>
			<th>Book Author </th>
			<th>Book Pages </th>
		</tr>
	</thead>
	<tbody>
		@foreach(var book in Model)
		{
			<tr>
				<td>@book.Id</td>
				<td>@book.BookTitle</td>
				<td>@book.BookAuthor</td>
				<td>@book.BookPages</td>
				<td><a href="Books/View/@book.Id">View Details</a></td>
			</tr>
		}
	</tbody>
</table>